@{
    ViewBag.Title = "Find Your Match!";
}

<div>
  <div class="jumbotron">
    <h2>Find Your Match Today!</h2>
    <p class="lead">DateMePlease.com is a website for finding that special person in your life. No more pretending you're successful, confident, or even happy. Just honest communication about finding a partner who is like you. </p>
  </div>
</div>